/include/ "system-conf.dtsi"
/ {
    daq: daq@46000000 {
		compatible = "stasbucik,daqdrv";
		reg = <0x46000000 0x20000>;
		interrupt-parent = <&intc>;
		// 61 - 32 = 29
		interrupts = <0 29 1>;
	};
};
